.categories

    &__menu
        all: unset
        list-style: none
        padding: 0
        display: flex
        flex-direction: column
        gap: 20px
        width: 200px
        padding: 50px 20px 0
        box-sizing: border-box
        position: sticky
        top: 0
        left: 0
        font-size: 26px
        &-item
            all: unset
            cursor: pointer
            text-align: center
            transition: opacity .2s linear
            color: white
            &:hover
                opacity: .8
            &_active
                border-bottom: 2px solid white
