.collection-tea
    display: flex
    align-items: center
    width: 300px
    gap: 15px
    margin: 0 10px 0 0
    &__category
        margin: 0
        flex-shrink: 0
        border-radius: 12px
        background-color: #00B191
        width: 70px
        padding: 5px 0
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        color: #000
        font-size: 14px
        font-weight: 500
    &__title
        margin: 0
        color: #DBE9A2
        font-size: 15px
        flex-grow: 1
        text-align: center
        text-overflow: ellipsis
        white-space: no-wrap
        overflow: hidden
        max-width: 160px
    &__form
        width: 10px
        width: 30px
        flex-shrink: 0
        height: 30px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 6px
        border: 1px solid #FDFDFD
        background-color: #013925
    &__counter
        all: unset
        max-width: 100%
        font-size: 16px
        text-align: center
