.section
    margin: 0 auto
    color: white
    padding-top: 40px
    position: relative
    &_example-of-tea
        padding-top: 100px
    &_collections
        display: flex
        flex-direction: column
        margin: 10px auto
        box-sizing: border-box
        padding: 20px 30px
        height: 756px
        max-height: 100%

    &_comments
        display: flex
        gap: 10px
        background-color: rgba(0,0,0,.3)
        padding: 15px 20px
        border-radius: 10px
    &__title
        margin: 0
        font-size: 42px
        text-align: center
    &__subtitle
        margin: 0
        font-size: 32px

        text-align: center
